{% extends "core/base.html" %}

{% load core_tags crispy_forms_tags %}

{% block title %}
    Update Obligation
{% endblock title %}
{% block content %}
    <main>
        <h1 class="mb-4">Update Obligation</h1>
        <form method="post"
              action="{% url 'obligation_update' obligation.obligation_number %}"
              class="needs-validation"
              novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'obligation_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </main>
{% endblock content %}
