{% extends "core/base.html" %}

{% load django_tables2 %}

{% block title %}
    Obligations
{% endblock title %}
{% block content %}
    <main>
        <h1 class="mb-4">Obligations</h1>
        <form method="get" class="mb-4">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Filter</button>
        </form>
        {% if table %}
            {% render_table table %}

            {% include "obligations/components/_pagination.html" %}

        {% else %}
            <p>No obligations found.</p>
        {% endif %}
    </main>
{% endblock content %}
