# System Configuration
LANG="en_AU.UTF-8"
LC_ALL="en_AU.UTF-8"
CHARSET="UTF-8"

# Cloudflare
CF_API_TOKEN=""

# Project Environment
PROJECT_DIR=""
PROJECT_NAME=""
ENV_FILE=""
EDITOR="code"
SHELL="/bin/bash"

# Python Environment
PYTHON=""
PYTHON_INTERPRETER=""
PYTHONUNBUFFERED="1"
PYTHONDONTWRITEBYTECODE="1"
PYTHONBREAKPOINT="ipdb.set_trace"
VIRTUAL_ENV_DISABLE_PROMPT="1"

# Django Settings
DJANGO_SETTINGS_MODULE=""
DJANGO_SECRET_KEY=""