# Django specific
/staticfiles/
/media/
local_settings.py
db.sqlite3
**/__pycache__/**

# Project specific directories
greenova/logs/
greenova/media/
greenova/static/
greenova/staticfiles/

# Local development settings
.env.local
.env.development
.env.test
.env.production

# Coverage reports
.coverage
htmlcov/

# Project dependencies
Pipfile.lock
poetry.lock

# Build output
/dist/
/build/

# Temporary files
*.temp
*.tmp
.temp/
.tmp/

# Local database backups
*.dump
*.sql

# Generated documentation
/docs/_build/
.DS_Store
