[MASTER]
ignore=migrations,venv,.venv,tests,test_,__init__.py,static,media,stubs
jobs=0
persistent=yes

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[REPORTS]
output-format=colorized
reports=y
score=y

[FORMAT]
max-line-length=88
indent-string='    '
