[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
asgiref = "==3.8.1"
pytz = "==2025.1"
sqlparse = "==0.5.3"
djlint = "==1.36.4"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pytest = "*"
bandit = "*"

[requires]
python_version = "3.13"