asgiref==3.8.1
cffi==1.17.1
cryptography==41.0.7
Django==5.1.5
django-appconf==1.0.6
django-chartjs==2.3.0
django-debug-toolbar==5.0.1
django-htmx==1.21.0
pillow==11.1.0
pycparser==2.22
python-dotenv==1.0.1
rcssmin==1.1.2
rjsmin==1.2.2
setuptools==75.8.0
sqlparse==0.5.3
wheel==0.45.1
