:root:not([data-theme=dark]),
[data-theme=light] {

  /**************************************************
   *                                                *
   *                 Primary colours                *
   *                                                *
   **************************************************/

  /* Green Primary - Use Cases: Body backgrounds, icon backgrounds, buttons */
  --greenova-green-primary: #909E77;

  --pico-primary-background: var(--greenova-green-primary);
  /* Button backgrounds*/

  /* Green Secondary - Use Cases: Header backgrounds */
  --greenova-green-secondary: #B5C495;

  --pico-secondary-background: var(--greenova-green-secondary);
  /* Header background */

  /* Green Tertiary - Use Cases: Focus Areas on header or background backgrounds */
  --greenova-green-tertiary: #697454;

  /* Beige Primary - Use Cases: Secondary accent, navigation bars, icons in focus */
  --greenova-beige-primary: #E5DED0;

  /* Beige Secondary - Use Cases: Beige alternate, when Beige Primary in use */
  --greenova-beige-secondary: #CCBDAC;

  /* Background Primary - Use Cases: Frame Colour, main background*/
  --greenova-background-primary: #E8EBE4;

  --pico-background-color: var(--greenova-background-primary);
  /* Background Primary */

  /* Background Secondary - Use Cases: Container background colour*/
  --greenova-background-secondary: #E2E7DD;

  --pico-card-background-color: var(--greenova-background-secondary);
  /* Container Backgrounds */

  /* Text Primary Dark - Use Cases: Immutable Text, for Titles. Icons */
  --greenova-text-primary-dark: #000000;

  --pico-h1-color: var(--greenova-text-primary-dark);
  /* Titles */

  /* Text Secondary Dark - Use Cases: Immutable Text, Headings and body*/
  --greenova-text-secondary-dark: #303030;

  /* Headers */
  --pico-h2-color: var(--greenova-text-secondary-dark);
  --pico-h3-color: var(--greenova-text-secondary-dark);
  --pico-h4-color: var(--greenova-text-secondary-dark);
  --pico-h5-color: var(--greenova-text-secondary-dark);
  --pico-h6-color: var(--greenova-text-secondary-dark);

  --pico-color: var(--greenova-text-primary-dark);
  /* Body text */

  /* Text Tertiary Dark - Use Cases: Mutable Text, for text box hints */
  --greenova-tertiary-dark: #B3B3B3;


  /*Text Primary Light - Use Cases: All text on coloured backgrounds*/
  --greenova-primary-light: #FFFFFF;





  /**************************************************
   *                                                *
   *              Notification  colours             *
   *                                                *
   **************************************************/

  /* Notification Primary High - Use Cases: Highest priority notification marker */
  --greenova-notif-primary-high: #FF1F1F;

  /* Notification Secondary High - Use Cases: outline of notification marker */
  --greenova-notif-secondary-high: #FFB6B6;

  /*Notification Primary Mid - Use Cases: Middle priority notification marker */
  --greenova-notif-primary-mid: #FAE100;

  /* Notification Secondary Mid - Use Cases: outline of notification marker */
  --greenova-notif-secondary-mid: #FFEF9C;

  /* Notification Primary Low - Use Cases: Lowest priority notification marker */
  --greenova-notif-primary-low: #2FC709;

  /* Notification Secondary Low - Use Cases: outline of notification marker */
  --greenova-notif-secondary-low: #B1E5A4;





  /**************************************************
   *                                                *
   *                  Data colours                  *
   *                                                *
   **************************************************/

  /* Data Primary - Use Cases: Primary colour for data visualisations */
  --greenova-data-primary: #095256;

  /* Data Secondary - Use Cases: Secondary colour for data visualisations */
  --greenova-data-secondary: #477D80;

  /* Data Tertiary - Use Cases: Tertiary colour for data visualisations */
  --greenova-data-tertiary: #659395;

  /* Data Null - Use Cases: Colour for when data points are out of focus of the chart. */
  --greenova-data-null: #9C9F93;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--greenova-text-secondary-dark);

  &:first-child {
    color: var(--greenova-text-primary-dark);
  }
}

header {
  background: var(--pico-secondary-background)
}

/* Element is used for placeholder text before you type. */
input[type='text']::placeholder {
  color: var(--greenova-tertiary-dark);
  /* Mutable Text, for text box hints */
}

p,
article {
  color: var(--greenova-text-secondary-dark);
}



/* Navigation */
[role='navigation'],
[role='navigation'] [role="menuitem"] {
  background: var(--greenova-beige-primary);
  color: var(--greenova-text-primary-dark) !important;
}

[role='navigation'] [role="menuitem"][aria-current] {
  background: var(--greenova-beige-secondary);
}
