{% extends 'base.html' %}
{% load static common_tags %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<article>
    <header>
        <hgroup>
            <h1>Hi {{ request.user|display_name }}</h1>
            <h2>Welcome to Enveng Groups ECMS where we make managing and tracking
                complex environmental commitments and obligations a whole lot
                easier for you.</h2>
        </hgroup>
    </header>

    <!-- Project Selection -->
    {% include "projects/views/select.html" %}

    {% if error %}
    <p role="alert">{{ error|format_error }}</p>
    {% endif %}
</article>
{% endblock %}