<article role="listitem">
  <header>
    <h3><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></h3>
  </header>

  {% if project.description %}
  <p>{{ project.description|truncatewords:30 }}</p>
  {% endif %}

  <footer>
    <nav>
      <a href="{% url 'projects:detail' project.id %}" role="button"
         class="outline">Details</a>
      <a href="{% url 'obligations:list' project.id %}" role="button"
         class="outline">Obligations</a>
    </nav>
  </footer>
</article>