{# Dashboard base template: composes sidebar and header partials, provides main content block #}
{% extends "core/base.jinja" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="dashboard-layout d-flex" style="min-height: 100vh;">
  {% include_partial "sidebar/sidebar_partial.jinja" %}
  <div class="flex-grow-1 d-flex flex-column">
    {% include_partial "navigation/header_partial.jinja" %}
    <main id="dashboard-main" class="flex-grow-1 p-4" tabindex="-1">
      {% block dashboard_content %}
      <!-- Dashboard main content goes here -->
      {% endblock dashboard_content %}
    </main>
  </div>
</div>
{% endblock content %}
