{# Dashboard base template: composes sidebar and header partials, provides main content block #}

{% extends "core/base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block navigation %}
    {% include "navigation/header_partial.html" %}
{% endblock navigation %}

{% block sidebar %}
    {% include "sidebar/sidebar_partial.html" %}
{% endblock sidebar %}

{% block content %}
    <div class="dashboard-layout d-flex dashboard-layout-min-height">
        {% block dashboard_content %}{% endblock dashboard_content %}
    </div>
{% endblock content %}
