{% extends "base.html" %}
{% load static %}

{% load user_tags %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<article>
  <header>
    <h1>User Profile</h1>
    <div class="user-profile-summary">
      <span class="user-profile-name">
         {% if user_profile %}{{ user_profile.get_full_name|default:user_profile.username }}{% else %}Unknown{% endif %}
      </span>
      <span class="user-admin-status">
        Admin: <strong>{% if is_admin %}Yes{% else %}No{% endif %}</strong>
      </span>
    </div>
  </header>

  <div class="profile-container" hx-target="this" hx-swap="outerHTML">
    {% include "users/includes/profile_detail.html" %}
  </div>
</article>
{% endblock content %}
