<form method="post" class="obligation-form">
  {% csrf_token %}

  <div class="form-grid">
    <fieldset>
      <legend>Primary Information</legend>
      {{ form.obligation_number }}
      {{ form.project_name }}
      {{ form.primary_environmental_mechanism }}
      {{ form.environmental_aspect }}
      {{ form.obligation }}
    </fieldset>

    <fieldset>
      <legend>Responsibility</legend>
      {{ form.accountability }}
      {{ form.responsibility }}
      {{ form.person_email }}
    </fieldset>

    <fieldset>
      <legend>Dates and Status</legend>
      {{ form.action_due_date }}
      {{ form.close_out_date }}
      {{ form.status }}
    </fieldset>

    <fieldset>
      <legend>Recurring Details</legend>
      <div class="checkbox-group">
        {{ form.recurring_obligation }}
        <label for="{{ form.recurring_obligation.id_for_label }}">
          Recurring Obligation
        </label>
      </div>
      {{ form.recurring_frequency }}
      {{ form.recurring_forcasted_date }}
    </fieldset>
  </div>

  <div class="form-actions">
    <button type="submit" class="button">Save Obligation</button>
    <a href="{% url 'obligations:list' %}" class="button outline" role="button">Cancel</a>
  </div>
</form>
