{% extends "obligations/layouts/crud_base.html" %}
{% load static %}
{% load hyperscript %}
{% block crud_title %}
  Edit Obligation
{% endblock crud_title %}
{% block breadcrumb_active %}Edit Obligation{% endblock %}
{% block form_title %}
  Edit Obligation: {{ form.instance.obligation_number }}
{% endblock form_title %}
{% block form_heading %}Edit Obligation Form{% endblock %}
{% block form_content %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <fieldset>
      <legend>Obligation Details</legend>
      {% for field in form.visible_fields %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
          {% endif %}
          {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock form_content %}
