{% extends "core/base.html" %}

{% block content %}
    <main>
        <h1 class="mb-4">Obligation Details</h1>
        <dl class="row">
            <dt class="col-sm-3">Obligation Number</dt>
            <dd class="col-sm-9">
                {{ obligation.obligation_number }}
            </dd>
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">
                {{ obligation.title }}
            </dd>
            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">

                {% include "obligations/components/_status_badge.html" with status=obligation.status %}

            </dd>
            <dt class="col-sm-3">Due Date</dt>
            <dd class="col-sm-9">
                {{ obligation.due_date }}
            </dd>
            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">
                {{ obligation.description }}
            </dd>
            <!-- Add more fields as needed -->
        </dl>
        <a href="{% url 'obligation_update' obligation.obligation_number %}"
           class="btn btn-primary">Edit</a>
        <a href="{% url 'obligation_list' %}" class="btn btn-secondary">Back to List</a>
    </main>
{% endblock content %}
