[user]
    name = enveng-group
    email = 25795989-enveng-group@users.noreply.gitlab.com
    signingKey = 582A67CF43E43341

[core]
    compression = 9
    whitespace = trailing-space,space-before-tab,tab-in-indent
    autocrlf = input
    eol = lf
    safecrlf = true
    fsmonitor = true
    preloadIndex = true
    fscache = true
    longpaths = true
    symlinks = true
    ignorecase = false

[init]
    defaultBranch = main

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[http]
    postBuffer = 524288000
    sslVerify = true
    lowSpeedLimit = 1000
    lowSpeedTime = 30

[gpg]
    program = gpg

[pull]
    rebase = true
    ff = only

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[commit]
    gpgSign = true
    verbose = true
    template = ~/.gitmessage

[diff]
    algorithm = histogram
    colorMoved = default
    mnemonicPrefix = true
    renames = copies

[fetch]
    prune = true
    pruneTags = true
    parallel = 0

[maintenance]
    auto = true
    schedule = daily
    task = gc,commit-graph,loose-objects,incremental-repack,pack-refs

[pack]
    threads = 0
    deltaCacheSize = 256m
    windowMemory = 256m
    compression = 9
    auto = 256
    autoPackLimit = 50
    useDeltaIslands = true

[receive]
    fsckObjects = true
    denyNonFastForwards = true

[transfer]
    fsckObjects = true
    compression = 9

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[branch]
    sort = -committerdate

[tag]
    sort = version:refname
    gpgSign = true

[log]
    date = iso
    follow = true

[merge]
    ff = false
    conflictStyle = diff3
    tool = vscode

[status]
    showUntrackedFiles = all
    submoduleSummary = true

[submodule]
    fetchJobs = 0
    recurse = true

[credential]
    helper = cache --timeout=3600

[gc]
    auto = 256
    pruneExpire = now
    aggressive = true
    reflogExpire = 30.days
    reflogExpireUnreachable = 15.days

[rerere]
    enabled = true
    autoUpdate = true
