-r requirements.in
-c constraints.txt
# Development dependencies
build
djlint
django-debug-toolbar
ipython
pip-tools
pycparser
pyparsing
pyproject-hooks
beartype
uv
uvx
uvenv
filelock==3.16.1

# Pytest plugins for development and testing
pytest
pytest-testinfra
pytest-cov
pytest-django
pytest-stub
pytest-xdist
pytest-clarity
pytest-mock
pytest-dependency
pytest-bdd
pytest-profiling
pytest-html
pytest-env
pytest-dotenv
pytest-randomly
pytest-timeout
