# Merged from base.in
# Core Django dependencies
Django
anyio
asgiref
astroid
asttokens
Authlib
Brotli
build
certifi
cffi
cfgv
charset-normalizer
colorama
contourpy
cryptography
cssbeautifier
cycler
decorator
dill
distlib
django-allauth
django-appconf
django-browser-reload
django-cors-headers
django-csp
django-debug-toolbar
django-htmx
django-hyperscript
django-matplotlib
django-pandas
django-pb-model
django-pdb
django-select2
django-silk
django-tailwind
django-template-partials
djlint
dparse
EditorConfig
execnet
executing
fido2
fonttools
gprof2dot
h11
httpcore
httpx
hyperscript-dump
identify
idna
iniconfig
ipython
ipython_pygments_lexers
Jinja2
joblib
jsbeautifier
json5
kiwisolver
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
narwhals
nltk
nodeenv
numpy
packaging
pandas
parso
patchelf
pathspec
pbr
pexpect
pillow
pip-tools
platformdirs
plotly
pluggy
plumbum
ply
prompt_toolkit
protobuf
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
python-dotenv-vault
pytz
PyYAML
qrcode
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
sentry-sdk
setuptools
shellingham
six
sniffio
sqlparse
stack-data
stevedore
tenacity
tomlkit
tqdm
traitlets
typer
tzdata
urllib3
virtualenv
wcwidth
wheel
whitenoise
filelock==3.16.1
