{% extends "obligations/layouts/obligation_base.html" %}
{% load static %}
{% load obligations_tags %}
{% block obligation_title %}{{ obligation.obligation_number }}{% endblock %}
{% block obligation_header %}{{ obligation.project_name }}{% endblock %}
{% block obligation_content %}
  <article class="obligation-detail">
    {% include "obligations/sections/obligation_detail.html" %}

    <footer class="actions">
      <a href="{% url 'obligations:edit' obligation.obligation_number %}"
         class="button"
         role="button">Edit</a>
      <a href="{% url 'obligations:list' %}"
         class="button outline"
         role="button">Back to List</a>
    </footer>
  </article>
{% endblock %}
